.selector {
	cursor: pointer;
}
.files {
	margin-left: 10px;
	color: rgb(0, 126, 230);
	text-decoration: underline;
	overflow-wrap: break-word;
}

.info {
	/* margin-top: 5px; */
	margin-bottom: 5px;
	margin-left: 10px;
	color: rgb(177, 177, 177);
}

.accepted-types {
	font-size: .5rem
}

.not-complete {
	border-color: red;
}

iframe {
    height: 80vh;
}